:root{
    --primary-color:;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: font: 16px; 
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	position: relative;
}
.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  top: 50%;
}
